@model BlogMVC.Models.DisplayModels.PostDisplayModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["Image"] = "post-bg.jpg";
    ViewData["Header"] = Model.Title;
    ViewData["HeaderText"] = $"Posted by { Model.AuthorName } on { Model.CreatedDate.ToString("d/M/yyyy") }";
}

<div class="container">
    <p>Category: @Html.DisplayFor(model => model.CategoryName)</p>
    <hr />

    <div class="row">
        <div class="font-weight-normal">
            @Html.DisplayFor(model => model.Content)
        </div>
    </div>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>

    <div>
        <button type="button" class="btn btn-outline-dark" style="margin-right: 30px" onclick="location.href='@Url.Action("Index", "Home")'">Back to Main Page</button>
        @Html.ActionLink("Comment", "CreateComment", "Comment", new { postId = Model.Id }, new { @class = "btn btn-outline-dark", @style = "margin-right: 30px" })
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "EditPost", "Post", new { postId = Model.Id }, new { @class = "btn btn-outline-dark", @style = "margin-right: 30px" })
            @Html.ActionLink("Delete Post", "DeletePost", "Post", new { postId = Model.Id }, new { onclick = "return confirm('Are you sure you wish to delete this post?');", @class = "btn btn-outline-dark" })
        }
    </div>
</div>

<hr />

<div class="container-sm">
    <h4 class="text-center"><em>Comments:</em></h4>
    @foreach (var comment in Model.Comments)
    {
<div class="container border" style="margin: 30px">
    <dl class="row mx-auto">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => comment.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => comment.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => comment.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => comment.CreatedDate)
        </dd>
    </dl>

    <p class="text-justify">@Html.DisplayFor(modelItem => comment.Content)</p>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <hr />
        @Html.ActionLink("Delete Comment", "DeleteComment", "Comment", new { commentId = comment.Id }, new { onclick = "return confirm('Are you sure you wish to delete this comment?');" })
    }
</div>
        
    }

</div>

