@model BlogMVC.Models.DisplayModels.PostDisplayModel

@{
    ViewData["Title"] = $"{ Model.Title }";
    ViewData["Image"] = "post-bg.jpg";
    ViewData["Header"] = Model.Title;
    ViewData["HeaderText"] = $"Posted by { Model.AuthorName } on { Model.CreatedDate.ToString("d/M/yyyy") }";
}

<div>
    <h2>@Model.Title</h2>
    <p>Category: @Html.DisplayFor(model => model.CategoryName)</p>
    <hr />

    <div class="font-weight-normal">
        @Html.DisplayFor(model => model.Content)
    </div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    <div>
        <a asp-controller="Home" asp-action="Index">Back to Main Page</a> |
        @Html.ActionLink("Comment", "CreateComment", "Comment", new { postId = Model.Id })
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <div>
                @Html.ActionLink("Edit", "EditPost", "Post", new { postId = Model.Id }) |
                @Html.ActionLink("Delete Post", "DeletePost", "Post", new { postId = Model.Id }, new { onclick = "return confirm('Are you sure you wish to delete this post?');" })
            </div>
        }

    </div>
    <h4>Comments:</h4>
    @foreach (var comment in Model.Comments)
    {
        <span class="d-block p-2 bg-primary text-white mb-5"></span>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => comment.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelItem => comment.CreatedDate)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => comment.UserName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => comment.CreatedDate)
                    </th>
                </tr>
            </tbody>
        </table>
        <p class="text-justify">@Html.DisplayFor(modelItem => comment.Content)</p>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Delete Comment", "DeleteComment", "Comment", new { commentId = comment.Id }, new { onclick = "return confirm('Are you sure you wish to delete this comment?');" })
        }
    }
    <span class="d-block p-2 bg-primary text-white mb-5"></span>

</div>

