@model IEnumerable<PostModel>
@{
    ViewData["Title"] = "McjG Blog - Main Page";
}

<h1 class="display-1">Posts:</h1>
@foreach (var post in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(post => post.AuthorId)
                </th>
                <th>
                    @Html.DisplayNameFor(post => post.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(post => post.CategoryId)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => post.AuthorId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => post.CreatedDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => post.CategoryId)
                </th>
            </tr>
        </tbody>
    </table>
    <h1>@Html.DisplayFor(modelItem => post.Title)</h1>
    <p class="text-justify">@Html.DisplayFor(modelItem => post.Content)</p>
    <span class="d-block p-2 bg-primary text-white mb-5"></span>
}